* {
    margin: 0;
    padding: 0;
}

html{
    position: relative;
}
html::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     background-image: url(../img/ytl.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    background-attachment: fixed;
    opacity: 0.3;
}
h1 {
    font-size: 40px;
    font-family: "CandalRegular", "Helvetica", "Arial", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: normal;
    color: #600;
    text-align: center;
}

h3 {
    color: #777;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}

a {
    text-decoration: none;
    color: #933;
    border: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 15px;
}

strong {
    font-weight: bold;
    color: #000;
}

table {
    width: 75%;
    border: 1px solid black;
    margin: 0 auto;
    /* border-spacing: 0px; */
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    height: 30px;

    vertical-align: middle;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #bfa;
}

tr:nth-child(even){
    background-color: cyan;
}

tr:hover{
    background-color: darkorange;
    color: darkblue;
}

#left-picture{
    position: sticky;
}



#everything {
    width: 626px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: #555;
    /* background: #fff; */
    font: 13px "Optima", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 1.7;
}

#first {
    text-indent:2em;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 15px;
    display: inline-block;
}

.kruskal {
    /* border: 2px solid black; */
    width: 624px;
    height: 600px;
    padding-bottom: 10px;
    border: auto;
}

.canvas {
    padding: 10px;
    z-index: 0;
    position: relative;
    float: left;
    width: 600px;
    height: 500px;
    background-color: rgb(200, 225, 228);
    border: 3px solid rgb(185, 210, 247);
    min-width: 600px;
    min-height: 500px;
}

.abc {
    text-decoration: none
}

.line {
    transform-origin: 0 100%;
    height: 5px;
    background: black;
    z-index: 1;
    transition-property: background-color, color;
    transition-duration: 1s;
}

#buttons {
    text-align: center;
    position: relative;
    /*float: right;*/
    width: 100%;
}

button {
    background-color: black;
    border-radius: 30px;
    border-color: black;
    width: 150px;
    padding: 5px;
    color: white;
}

button :hover {
    background-color: green;
}

.btn {
    padding: 22px;
    display: inline-block;
}
#aa{
    padding-left: 35px;
    float: left;
}
#bb{
    float: left;
}
#cc{
    float: left;
}
#dd{
    float: left;
}
#ee{
    float: right;
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei', Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.blue {
    color: darkmagenta;
    border: solid 1px #0076a3;
    background-image: linear-gradient(to right bottom,lightcyan,cyan,pink,lightpink);
    /* background: -webkit-gradient(linear, left top, left bottom, from(#52c4ed), to(#e1a4d8)); */
    /* background: -moz-linear-gradient(top, #00adee, #d0a8ca); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}